/* public/styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  color: #555;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}



/* Styles for certificate.ejs */

.certificate-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 70vh; */
  text-align: center;
  /* padding: 20px; */
  background-color: #f4f4f4;
}

.certificate-preview img {
  /* max-width: 70%; */
  /* height: auto; */
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  /* padding: 10px; */
  width: 100vh;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

h1, p {
  color: #333;
  margin: 10px 0;
}

